html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevent body scroll if using scroll inside .app */
}

body {
  background: url("./assets/weather.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}
